collector {
  license {
    accept = true
  }

  interface = "0.0.0.0"
  port = 8080

  streams {
    good = "good"
    bad = "bad"

    sink {
      brokers = "kafka2:9093,kafka1:9092"   # brokers là STRING, không phải mảng
    }
  }
}
